* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background: radial-gradient(#6363b1, #6a35c0);
  margin: 0;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 3em;
  color: azure;
  background-color: aquamarine;
  margin: 5px;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
  overflow: auto;
  background: lime; /* Just to visualize the extent */
}

.info_container {
  display: flex;
  justify-content: space-evenly;
  border: #121016;
  background-color: aquamarine;
}

.game_info {
  height: 10%;
  color: azure;
  font-size: 2em;
}

.board {
  display: grid;
  grid-template-rows: 0.7fr 2fr;
  height: 90%;
  margin-left: 15px;
  margin-right: 15px;
}

.upper_board {
  background-color: rgb(147, 168, 147);
  display: grid;
  border: 2px dashed rgba(114, 186, 94, 0.35);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lower_board {
  background-color: rgb(99, 98, 117);
}

.card {
  height: 100px;
  width: 75px;
  text-align: center;
  border-radius: 15px;
  border-width: 1px;
  display: flex;
  background: greenyellow;
}
