* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  background: radial-gradient(#049942, #35dd02);
  margin: 0;
}

.title {
  text-align: center;
  font-size: 3em;
  color: azure;
  /* background-color: aquamarine; */
  margin: 0;
}

.container {
  height: 91vh;
  width: 100vw;
  margin: 0;
  /* background-color: rgb(222, 233, 63); Just to visualize the extent */
}

.info_container {
  display: flex;
  justify-content: space-evenly;
  /* background: rgb(140, 10, 120); */
}

.game_info {
  height: 10%;
  color: azure;
  font-size: 2em;
}

.rect {
  height: 100px;
  width: 100px;
  background-color: blue;
  display: flex;
}

.card {
  height: 100px;
  width: 75px;
  text-align: center;
  border-radius: 15px;
  border-width: 1px;
  display: flex;
  background: greenyellow;
}

.aceOfHeart {
  background: rgb(165, 25, 43);
}

.aceOfDiamonds {
}

.aceOfClubs {
  background: rgb(165, 25, 43);
}

.aceOfSpades {
}
